
h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0 2rem;
  color : #FF4886 ;

}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding: 2rem;

}


.form-container {
  max-width: 40rem;
  width: 100%;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}


.form-field {
  margin: 1rem 0;
}

.full-width {
  width: 100%;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

button {
  width: 100%;
  max-width: 200px;
}


@media screen and (max-width: 768px) {

  .form-container {
    padding: 1rem;
  }
}
