
html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //background-image: url('https://images.pexels.com/photos/6984986/pexels-photo-6984986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
  //background-image: url("app/assets/images/bg-pink-noise.png");
  background:
    conic-gradient(#ffffff 25%,#0000 0) 0 0/calc(2*10px) calc(10px/9.5),
    conic-gradient(#ffffff 25%,#0000 0) 0 0/calc(10px/9.5) calc(2*10px),
    repeating-conic-gradient(#0000 0 25%,#ffffff 0 50%)
    10px 0 /calc(2*10px) calc(2*10px),
    radial-gradient(50% 50%,#fff4f8 98%,#ffffff)
    0 0/10px 10px;


}

.menu {
  font-family: sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}
.menu-item-details {
  display: flex;
  align-items: center;
}

.menu-item-price {
  margin-right: 1.5em;
}

.menu-item-desc {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 125px;
  }
}

.menu-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}
button{
  margin-right: 20px;


}
.bottom-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}

.form-field {
  margin: 1rem 0;

}

.full-width {
  width: 100%;
}
.medium-width{
  width: 50%;
}
.category-edit{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.save-button-category{
  margin-left: 18px;
}




