<mat-card class="card-order">
  <div class="order-card">

    <mat-card-header>
      <mat-card-subtitle>Table {{order.orderTable?.tableNumber}}</mat-card-subtitle>
      <mat-card-title>{{order.currentProduct?.productName}}</mat-card-title>
    </mat-card-header>
    <div class="product-card">

      <mat-card-content class="content-order" >
        <div class="product-item">
          <div >



                <h3>{{order.serviceTime | date:'hh:mm' }}</h3>


              <mat-card-footer>
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
              </mat-card-footer>


          </div>
        </div>

      </mat-card-content>

    </div>


  </div>
</mat-card>
