
<div class="grid-list">
  <mat-grid-list [cols]="breakpoint" rowHeight="4:3" >
    <div class="container-tables" *ngFor="let table of tables$ | async">
      <mat-grid-tile>
        <button class="example-ripple-container mat-elevation-z4"
                matRipple [matRippleCentered]=true
                [matRippleUnbounded]=false
                [matRippleRadius]=400
                (click)="openTableMenu(table)"


        ><span class="table-number">{{ table.tableNumber }}</span></button>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

