<!--<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Illico-Presto</span>
  </mat-toolbar-row>

  <mat-toolbar-row color="primary">


    <ul>
      <li><a href="#" data-title="home">Home</a></li>
      <li><a href="#" data-title="About">About</a></li>
      <li><a href="#" data-title="Portfolio">Portfolio</a></li>
      <li><a href="#" data-title="Blog">Blog</a></li>
    </ul>


  </mat-toolbar-row>





</mat-toolbar>
-->

<header>
 <!-- <div class='top'></div>-->
  <nav class="menu menu-3">
    <div class='title'>
      <h1>Illico Presto</h1>
    </div>
    <ul>
      <li><a routerLink="server/tables" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Tables </a></li>
      <li><a routerLink="kitchen/orders" routerLinkActive="active"> Orders </a></li>
      <li><a routerLink="admin/menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> Admin menu </a></li>

    </ul>
  </nav>
</header>


